*{
margin:0;
padding:0;


}
#s4
{
	
	margin-left:auto;
}
#nav li
{
list-style:none;
text-decoration: none;
float:left;
margin-right:40px;
padding:0px;
}

#nav li:hover
{

color:red;

}
#nav a:hover
{

color:red;

}


.menu a:hover{
	color:red;
}

#nav2 li
{
list-style:none;
text-decoration: none;
float:left;
padding:0;

}

#nav2 li:hover
{

color:red;

}
#nav2 a:hover
{

color:red;

}

#carouselhome
{
width:100%;
margin:auto;
border-radius:30px;
height:800px;;


}

#carousel2
{
width:100%;
margin:auto;
border-radius:30px;



}




#carousel
{
width:100%;
margin:auto;
border-radius:10px;
height:300px;



}
.carousel-item img
{

display:flex;
width:100%;
height:300px;
overflow:hidden;
border-radius:10px;

}

#logo img{

height:85px;
width:100%;
}
#head
{
	background-image:url('logo.png');
	background-size:cover;

	background-position:absolute;
	height:100%;
	}

#icon img
{
	height:40px ; width:40px; float:right;
}
#shop
{
height:30px;
width:80px;
margin-left:80px;
display:none;
}

#op1:hover
{
background-color:black;
}

#op2:hover
{
background-color:black;
}
#op3:hover
{
background-color:black;
}
#op4:hover
{
background-color:black;
}
#op4
{
padding:30px;
border: 1px solid green;
}


#op1 img{

height:300px;
width:100%;

overflow:hidden;

}


 #more
{
	display:none;
	right:10px;
	border-radius:40px;
}
#more1
{
	display:none;
    right:10px;
	border-radius:40px;
}
#more2
{
	display:none;
	right:10px;
	border-radius:40px;
}
#more3
{
	display:none;
	right:10px;
	border-radius:40px;
}



#btn
{

	margin-left:150px;

}
#btn3
{

	margin-left:150px;

}
#btn2
{

	margin-left:150px;

}
#btn1
{

	margin-left:150px;

}


#first
{


	background-position:realtive;
	background-size: cover;

	background-repeat:no-repeat;
height:500px;
width:100%;

}










.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}




#btnshow
{
margin:auto;
width:400px;
}

#footimg img:hover{
	transform:rotateY(360deg);
	transition:2s;
}

#footimg img
{
margin:auto;
height:50px;
width:100px;
padding:10px;
}

#multi2 {
    margin:0;
    padding: 0px;

    height: 100px;
    width: 100%;
    box-shadow: 0px 0px 10px red;
    border: 1px solid green;
}

#multi2 img {
    width: 50%;
    height: 100px;
    border-radius:100px;
}

#multi {
    margin: 0px;
    padding: 0px;

    height: 455px;
    width: 100%;
    box-shadow: 0px 0px 10px red;
    border: 1px solid green;
}

#pi
{
box-shadow: 0px 0px 10px blue;
    border: 1px solid green;
}

#multi img {
    width: 100%;
    height: 250px;

border-radius:100px;
}

.cslides {
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 100%;
    box-shadow: 0px 0px 5px red;
    border: 1px solid green;
}
#piy
{
 box-shadow: 0px 0px 5px blue;
    border: 1px solid green;
}

.cslides img{
    width: 50px;
    height: 50px;
    overflow:hidden;


}

#buynow
{
margin-left:50px;
}

#pi img
{
width:100%;
height:300px;
margin:auto;
}

#ph6 {
	position:absolute;
	bottom: 30px;
	right: 30px;
	font-size: 16px;
}

#con{
	margin-bottom: 20px;
}

#pi ul li {
	display: inline-block;
}

#pi ul li span {
	color: gold;
	font-size: 14px;
}

#pi .down-content i {
	position: absolute;
	right: 30px;
	bottom: 15px;
	font-size: 13px;
	color: #f33f3f;
	font-weight: 500;
}
#pi h4
{
position:absolute;
}




#bf {
	margin-top: 50px;
}

#af {
	margin-top: 100px!important;
}

#af p {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

#af .container .row {
	padding-bottom: 0px!important;
	border-bottom: none!important;
}

#bf {
	margin-top: 50px;
}

#bf .container .row {
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
}


#pic img
{
width: 100%;
	overflow: hidden;
	height:300px;

}
#pic{
width:100%;
}
#bf h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}


#bf p {
	margin-bottom: 25px;
}


.bf .filled-button {
	margin-top: 20px;
}

ul.social-icons li {
	display: inline-block;
	margin-right: 3px;
}

ul.social-icons li:last-child {
	margin-right: 0px;
}

ul.social-icons li a {
	width: 50px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	background-color: #eee;
	color: #121212;
	font-size: 18px;
	text-align: center;
	transition: all .3s;
}

ul.social-icons li a:hover {
	background-color: blue;
	color: #fff;
}




.banner .banner-item {
	max-height: 600px;
}




#carousel1z
{
border-radius:300px;
height:500px;

}
#carousel1z img
{
height:500px;
background-size:cover;
}


#most a img
{
width:180px;
height:120px;


}
#most p
{
font-size:10px;
}
.checked
{
color:red;
}
 
@media (min-width: 768px) and (max-width: 1024px) {

 #logo 
 {
	 width:100px;
	 
 }
 #logo img{
	 height:45px;
	 width:100%;
 }
#s4
{
	margin-left:420px;
	width:400px;
}

}
@media (min-width: 375px) and (max-width: 667px) {

 
 #logo img{
	 height:80px;
	 width:100%;
	 padding-bottom:30px;
 }
#s4 input{
	width:250px;
	
	
}
#s4{
	position:realative;
	margin-top:30px;
	width:100%;
}
#carousel{
	
	margin-top:50px;
}

}


.box
{
	background-color:black;
	width:300px;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
	border-radius:20px;
	margin-top:50px;
	
}
.box h1{
	
	color:white;
	text-transform:uppercase;
	font-weight:500;
	
}
.box input[type="text"],.box input[type="password"]
{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #2eec71;
	padding:14px 10px;
	width:200px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
	
}
.box input[type="text"]:focus,.box input[type:"password"]:focus
{
	width:280px;
	height:15px;
	border-color:yellow;
}

.box input[type="submit"]
{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid blue;
	padding:14px 40px;
	outline:none;
	
	color:white;
	border-radius:24px;
	transition:0.25s;
	cursor:pointer;
}
.box input[type="submit"]:hover
{
	background:2ecc71;
	
}


	#nav a{
	bottom:-8px;
	transition:0.5s;
	border-radius:4px;
	
}	

























@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.center,.front-face,
.contents,.back-face{
  position: absolute;
}
.center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 290px;
  transform-style: preserve-3d;
 perspective: 1000px;
}
.front-face, .back-face{
  height: 100%;
  width: 100%;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,.2),
              rgba(0,0,0,.2)),url(bg.jpeg);
  background-size: cover;
  background-position: center;
  transform: translateY(0deg);
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform .7s cubic-bezier(.4,.2,.2,1);
}
.contents{
  left: 0%;
  top: 50%;
  width: 100%;
  perspective: 1000px;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.front p{
  font-size: 15px;
  margin-bottom: 15px;
  color: white;
}
.front span{
  font-size: 15px;
  color: white;
}
.front p:after{
  content: '';
  display: block;
  left: 0;
  right: 0;
  width: 100px;
  height: 2px;
  background: white;
  margin: 0 auto;
  margin-top: 10px;
}
.back-face{
  transform: rotateY(180deg);
  background: linear-gradient(45deg,#043348 0%,#032535 100%);
}
.back {
  color: white;
}
.back h2{
  font-size: 33px;
  padding-bottom: 5px;
}
.back span{
  font-size: 25px;
}
.icons{
  margin: 10px 0;
  display: block;
}
i.fab{
  color:  #042f4b;
  font-size: 20px;
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  margin: 0 5px;
  line-height: 40px;
  cursor: pointer;
}
.center:hover > .back-face{
  transform: rotateY(0deg);
}
.center:hover > .front-face{
  transform: rotateY(-180deg);
}























