


<!DOCTYPE html>
{% load static%}
<html lang="en">
 <head>
   <title>Home Page</title>
      <meta charset= "UTF-8">
         <meta name ="viewport" content = "width=device-width,initial-scale=1.0">

               <link rel = "Stylesheet" type="text/css"  href="{%static 'file/style.css'%}" />

             <link rel = "Stylesheet" type="text/css" href = "  {% static 'css/bootstrap.min.css' %}">
<link rel="Stylesheet" href="{% static 'css/fontawesome.css'%}" type="text/css">
     <link rel="Stylesheet" href="{% static 'css/fontawesome.css'%}" type="text/css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <script src="{% static 'file/java.js'%}" type="text/javascript">

        </script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>



<body>

 <div class="container-fluid bg-dark" style="height:60px;">
  <div class ="row">


	 <div id ="logo" class="col-lg-2 ">
	   <a href="http://127.0.0.1:8000/music/home"><img src= "{% static 'logo.png' %}" /></a>
	  </div>

	<div class="col-lg-8 ">

	 </div>

	<div id = "b" class = "col-lg-2 " >
          <div id="icon">
             <a href ="http//www.instagram.com" ><img src =  "{% static 'in.png' %}" alt="instagram"/></a>
               <a href ="#"><img src ="{% static 'tw.png' %}" alt="twitter"/></a>

                 <a href = "#"><img src =  "{% static 'wh.png' %}" alt="Watsapp"/></a>
              </div>
              </div>

	</div>
	</div>

<div class="container-fluid ">
  <div class ="row bg-dark">


   <div  class="col-lg-6">


	<form class="form-inline" method ='POST'>
        {%csrf_token%}
    <input class="form-control mr-sm-4" name="key"  type="search" placeholder="Search" style="width:400px margin-top:100px;" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
   </div>



   <div id ="nav" class="col-lg-6 ">


<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->


  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#reNav"
    aria-controls="reNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>




  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="reNav">


    <!-- Links -->
    <ul class="navbar-nav mr-auto"  style="color:white">


          {% if request.user.is_authenticated %}
        <h6 style="color:white">{{  request.user }}</h6>

        <li  class="nav-item dropdown">
                     <a  class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src =  "{% static 'sign.png' %}" alt="instagram"/></a>
                    <div class="dropdown-menu">


            <a class="dropdown-item" href="../show">YourGuitars</a>
      <a class="dropdown-item" href="../Drum/show">YourDrums</a>
                        <a class="dropdown-item" href="../logout">Logout</a>

       </div>
                 </li>
        <li class="nav-item active"><a class="nav-link" href=" http://127.0.0.1:8000/music/show">Offers</a></li>
          <li class="nav-item">
         <a class="nav-link" href="../contact">Contact</a></li>
         <li class="nav-item">
         <a class="nav-link" href="../music/home">Home</a></li>
                        {% else %}


        <li class="nav-item active">  <a class="nav-link" href="../login">Login</a></li>
         <li class="nav-item active">
        <a class="nav-link" href="../Form">Signup</a>
      </li>
    <li class="nav-item active"><a class="nav-link" href=" http://127.0.0.1:8000/music/show">Offers</a></li>

        {% endif %}

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Category</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">

        <a class="dropdown-item" href="../music/About">About</a>

          <a class="dropdown-item" href="../Drum/Drum">Drum</a>
          <a class="dropdown-item" href="../guitars">Guitar</a>
        </div>
      </li>




    </ul>

  </div>


</nav>



  </div>

  </div>

</div>



 <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Location on Maps</h2>
            </div>
          </div>
          <div class="col-lg-12">
<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
            <div id="map">

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113965.00306835186!2d87.2060688340284!3d26.795187209444144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ef419fc7271c1d%3A0x1d1300367590c002!2sDharan!5e0!3m2!1sen!2snp!4v1580628981782!5m2!1sen!2snp" width="100%" height="330px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>

        </div>
     <div class="row">
          <div class="col-lg-4">
            <div class="left-content">
              <h4>About our office</h4>
              <p>Monday:	11:00am - 7:30pm<br><br>
Tuesday:	11:00am - 7:30pm<br><br>
Wednesday:	11:00am - 7:30pm<br><br>
Thursday:	11:00am - 7:30pm<br><br>
Friday:	11:00am - 7:30pm<br><br>
Saturday:	11:00am - 5:30pm<br><br>
Sunday:	11:00am - 7:30pm
 </p>

            </div>
          </div>


          <div class="col-lg-4">
            <div class="left-content">
              <h4>About our office</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
         <div class="col-lg-4">
            <div class="left-content">
              <h4>About our office</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti.</p>

            </div>
          </div>

     </div>
      </div>

 <div class="container">

     <div class="row">
 <div class="col-md-12">
            <div class="section-heading">
              <h2>Send us a Message</h2>
            </div>
          </div>
     </div>
     <div class="row">
          <div class="col-lg-12">
            <div class="contact-form">
              <form method="POST">

                        {%  csrf_token %}
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input  type="text" class="form-control" name="Full" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input type="text" class="form-control" name="email" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input  type="text" class="form-control" name="subject" placeholder="Subject" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea  rows="6" class="form-control" name="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" onclick ="return confirm('Are you sure to send message?')" value="Post" name="con" class="btn btn-danger">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>


     </div>

 </div>




<div class="footer">

<div class="container-fluid">

<div class="row">

<div class="col-lg-6 bg-ligt" >

<nav class="navbar navbar-expand-md ">

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="../music/show" class="nav-item nav-link active">Home</a>
            <a href="../music/About" class="nav-item nav-link">About</a>
            <a href="../contact" class="nav-item nav-link">Contact</a>

<div class="navbar-nav ml-auto">
     {% if request.user.is_authenticated %}

            <a href="../logout" class="nav-item nav-link">LogOut</a>
     <h3 style=" font-family:Courier New, Courier,monospace">{{  request.user }}</h3>
    {% else %}
            <a href="../login" class="nav-item nav-link">Login</a>
        </div>
           {% endif %}
        </div>
</div>
</nav>



</div>



   <div class="col-lg-6" id="footimg">
<h4>Payments Method</h4>

			<a href="#">
				<img class="h-size4" src="{% static 'images/icons/paypal.png'%}" alt="IMG-PAYPAL">
			</a>

			<a href="#">
				<img class="" src="{% static 'images/icons/visa.png'%}" alt="IMG-VISA">
			</a>

			<a href="#">
				<img class="h-size4" src="{% static 'images/icons/mastercard.png'%}" alt="IMG-MASTERCARD">
			</a>

		</div>
</div>
    <div class="row-fluid bg-light" style="height:100px;">
   <p class="text-center" style="margin:auto;">
                Copyright © 2018 All rights reserved. | This  is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Sonam</a>
			</p>
    </div>
</div>




</body>
</html>